@media all and (min-width: 1170px) {
    #header {
        background-image: url(../img/background.header.jpg);
    }
}

@media all and (min-width: 992px) and (max-width: 1170px) {
    #header {
        background-image: url(../img/background.header2.jpg);
        height: 70vh;
    }
    #header .header-caption {
        text-align: right;
       
        padding: 1% 3%;
    }
}

@media all and (max-width: 992px) {
    #header {
        background-image: url(../img/background.header.jpg);
        height: 50vh;
    }
    #header .header-caption {
        text-align: center;
        color: #fff;
        text-shadow: 3px 3px  #291f1a;
        position: absolute;
        bottom: 10%;
        padding: 0% 15%;
    }
}
@media all and (max-width: 480px){
    #header .header-caption h1{
            font-size: 1.3em;
}

#header .header-caption h2 {
    font-size: 2.0em;
}

    }

