@media all and (min-width: 1200px) {
    #header {
        background-image: url(../img/background.header.jpg);
    }
}

@media all and (min-width: 992px) and (max-width: 1170px) {
    #header {
        background-image: url(../img/background.header2.jpg);
        height: 70vh;
    }
    #header .header-caption {
        text-align: right;
        text-shadow: 2px 2px #291f1a;
        padding-right: 2%;
        padding-top: 10%;
    }
}

@media all and (max-width: 992px) {
    #header {
        background-image: url(../img/background.header.jpg);
        height: 60vh;
    }
    #header .header-caption {
        text-align: center;
        color: #222;
        position: absolute;
        bottom: 10%;
        padding: 0% 15%;
    }
}
