* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 0;
/*    text-align: center;*/
}

#header {
     background-image: url(../img/background.header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
/*    width: auto;*/
    background-repeat: no-repeat;
    margin: 0;
    border: no border;
}

#header .header-caption {
    color: #fff;
    font-family: 'Verdana', sans-serif;
    text-align: ;
/*    position: absolute;*/
  padding-left: 3%;
    padding-top: 20%;
}

#header .header-caption h1 {
    font-size: 1.7em;
}

#header .header-caption h2 {
    font-size: 2.4em;
}
